.bay-hop {
	display: inline-block;
	width: 100%;
}

body {
	background-image: url("/static/images/Gradient.png");
}

#header {
	margin-top: 10%;
	margin-bottom: 0;
	margin-left: 10%;
	color: white;
	font-family: "Lato"
}

#content{
	height: 75%;
	padding: 12px;
}

#results{
	width: 50%;
	height: 100%;
	float: left;
}

#results-wrapper{
	/* margin: auto; */
	margin-left: 20%;
	width: 200px;
	height: 200px;
}

#map {
	width: 50%;
	height: 100%;
	float: right;
}

input {
	margin: 2px;
}
