.bay-hop {
	display: inline-block;
	width: 100%;
}

body {
	background-image: url("/static/images/Gradient+Background.png");
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

#header {
	margin-top: 40px;
	margin-bottom: 0;
	margin-left: 40px;
	color: white;
	font-family: "Lato"
}

#content{
	height: 80%;
	padding: 12px;
}

#results{
	width: 580px;
	height: 60%;
	/*float: left;*/
	margin-left: 40px;
	margin-top: 30px;
	position: absolute;
	/*background-color: rgba(142, 141, 171, 0.4);*/
}

#results-wrapper{
	/*padding-top: 20px;*/
	background-color: rgba(142, 141, 171, 0.4);
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
	position: absolute;
	/*width: 200px;*/
	width: 580px;
	height: 350px;
}

#map {
	margin-top: 30px;
	margin-left: 680px;
	width: 700px;
	height: 80%;
/*	float: right;*/
}

/*input {
	margin: 2px;
}*/

p {
	color: white;
	font-family: 'Lato';
}

/*br {
   display: block;
   margin: 2px 0;
}*/

#results h3 {
	color: white;
	font-family: 'Lato';
	font-size: 22px;
}

#results h4 {
	color: white;
	font-family: 'Lato';
	font-size: 16px;
}

#header h2 {
	color: white;
	font-family: 'Lato';
	font-size: 18px;
	line-height: 0;
	/*text-align: center;*/
}
